<div class="mailpoet_tools"></div>
<style type="text/css">
	.mailpoet_editor_view_{{ viewCid }} .mailpoet_content {
		padding: 30px 20px;
		background: {{ styles.backgroundColor }};
	}
	.mailpoet_editor_view_{{ viewCid }} .mailpoet_content h1 {
		line-height: 1.2em;
		font-family: 'Source Sans Pro';
		font-size: 36px;
		color: {{ styles.fontColor }};
	}
</style>
<div class="mailpoet_content mailpoet_woocommerce_heading" data-automation-id="woocommerce_heading">
	<h1>{{ content }}</h1>
</div>
<div class="mailpoet_block_highlight"></div>