<a href="{{ link }}" onClick="return false;"><img src="{{#ifCond image '!=' ''}}{{ image }}{{ else }}{{ allIconSets.default.custom }}{{/ifCond}}" onerror="if (this.src != '{{ allIconSets.default.custom }}') this.src = '{{ allIconSets.default.custom }}';" alt="{{ text }}" style="width: {{ width }}; height: {{ height }};"/></a>
