<a href="{{ link }}" onClick="return false;"><img src="{{ image }}" onerror="if (this.src != '{{ allIconSets.default.custom }}') this.src = '{{ allIconSets.default.custom }}';" alt="{{ text }}" style="width: {{ width }}; height: {{ height }};"/></a>
