<div class="mailpoet_form_block"
  wysija_type="{{ type }}"
  {{#if id}}wysija_id="{{ id }}"{{/if}}
  wysija_name="{{ name }}"
  wysija_unique="{{ unique }}"
  wysija_static="{{#ifCond static '==' 1}}1{{else}}0{{/ifCond}}"
  wysija_params="{{#if params}}{{ json_encode params }}{{/if}}">
  {{#ifCond type '!==' 'divider'}}
    <div class="wysija_settings" style="display:none;">
      <a class="settings" href="javascript:;"><span></span><%= __('Edit display') %></a>
    </div>
  {{/ifCond}}
  <ul class="wysija_controls clearfix" style="display: none;">
    <li class="handle_container"><a class="handle" href="javascript:;"><span></span></a></li>
    {{#ifCond static '==' '0'}}
      <li><a class="remove" href="javascript:;"><span></span></a></li>
    {{/ifCond}}
  </ul>
  {{{ template }}}
</div>